.scrollbar::-webkit-scrollbar {
  width: 0.25rem;
}
.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #a39898;
  border-radius: 20px;
}
.scrollbar button {
  padding: 0;
}
.color-picker-ct label {
  cursor: pointer;
}

.color-picker-ct input {
  display: block;
}

.color-picker-ct canvas:hover {
  cursor: crosshair;
}
