:root {
  --pf: 325.52 100% 58.98%;
  --sf: 264.71 89.474% 62.118%;
  --af: 31.02 100% 56.941%;
  --nf: 229.57 15.033% 24%;
  --b2: 231.43 14.894% 16.588%;
  --b3: 231.43 14.894% 14.929%;
  --pc: 325.52 100% 14.745%;
  --sc: 264.71 100% 15.529%;
  --ac: 31.02 100% 14.235%;
  --nc: 229.57 70.868% 86%;
  --inc: 190.53 100% 15.373%;
  --suc: 135.18 100% 12.941%;
  --wac: 64.909 100% 15.294%;
  --erc: 0 100% 93.333%;
  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: 0.2s;
  --btn-text-case: uppercase;
  --btn-focus-scale: 0.95;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
  --p: 325.52 100% 73.725%;
  --s: 264.71 89.474% 77.647%;
  --a: 31.02 100% 71.176%;
  --n: 229.57 15.033% 30%;
  --b1: 231.43 14.894% 18.431%;
  --bc: 60 30% 96.078%;
  --in: 190.53 96.61% 76.863%;
  --su: 135.18 94.444% 64.706%;
  --wa: 64.909 91.667% 76.471%;
  --er: 0 100% 66.667%;
}
