:root {
  --pf: 229.09 95.652% 51.137%;
  --sf: 214.91 26.316% 47.216%;
  --af: 154.2 49.02% 48%;
  --nf: 233.33 27.273% 10.353%;
  --b2: 0 0% 90%;
  --b3: 0 0% 81%;
  --in: 198 93% 60%;
  --su: 158 64% 52%;
  --wa: 43 96% 56%;
  --er: 0 91% 71%;
  --pc: 229.09 100% 92.784%;
  --sc: 214.91 100% 11.804%;
  --ac: 154.2 100% 12%;
  --inc: 198 100% 12%;
  --suc: 158 100% 10%;
  --wac: 43 100% 11%;
  --erc: 0 100% 14%;
  --btn-text-case: uppercase;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
  --p: 229.09 95.652% 63.922%;
  --s: 214.91 26.316% 59.02%;
  --a: 154.2 49.02% 60%;
  --n: 233.33 27.273% 12.941%;
  --nc: 210 38.462% 94.902%;
  --b1: 0 0% 100%;
  --bc: 233.33 27.273% 12.941%;
  --rounded-box: 0.25rem;
  --rounded-btn: 0.125rem;
  --rounded-badge: 0.125rem;
  --animation-btn: 0;
  --animation-input: 0;
  --btn-focus-scale: 1;
}